header {
    background-color: #333;
    overflow: hidden;
}

header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

header a:hover {
    background-color: #ddd;
    color: black;
}

main h2, h5 {
    text-align: center;
}

tr {
    margin-top: 20px;
}

.centerText {
    text-align: center;
}

.active {
    background-color: #444;
    color: white;
}

.makeThisStrong {
    font-weight: bold;
}

.container {
    padding: 0px 16px 0px 16px;
}

